<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- load properties file -->
<context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define your beans here -->
    
     <!-- Define the dependency -->
    <bean id="myFortuneService"
    	class="com.katsa.springdemo.HappyFortuneService">
    </bean>
    
    <bean id="myRandomService"
    	class="com.katsa.springdemo.RandomFortuneService">
    </bean>
    
    
    <bean id="myCoach"
    	class="com.katsa.springdemo.TrackCoach"
    	>
    	<constructor-arg ref="myFortuneService"/>
    </bean>
    
    <bean id="myCricketCoach"
    	class="com.katsa.springdemo.CricketCoach">
    	<property name="fortuneService" ref="myRandomService"/> <!--Set up setter injection: inject service -->
    	<property name="emailAddress" value="${katsa.email}"/> <!-- inject specific value from properties file -->
    	<property name="team" value="${katsa.team}"/>
    </bean>
    
</beans>





